.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--elements-bg);
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem rgba(43, 57, 69, 0.15);
  transition: box-shadow 0.4s ease-in-out;
}

.card:hover {
  box-shadow: 0 1rem 2rem rgba(43, 57, 69, 0.25);
}

@media (min-width: 576px) {
  .card {
    width: 75%;
    margin: 0 auto;
  }
}

@media (min-width: 320px) {
  .card {
    width: 90%;
    margin: 0 auto;
  }
}

.card__image {
  height: 16rem;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0 0 1rem rgba(43, 57, 69, 0.06);
}

@media (min-width: 768px) {
  .card__image {
    height: 18rem;
  }
}

@media (min-width: 320px) {
  .card__image {
    height: 15rem;
  }
}

.card__image img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card__text {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 2rem 2rem;
}

.card__title {
  font-size: 1.85rem;
  line-height: 1.4;
  margin-bottom: 1.2rem;
}

@media (min-width: 576px) {
  .card__title {
    margin-bottom: 0;
  }
}

@media (min-width: 320px) {
  .card__title {
    font-size: 1.6rem;
    line-height: 1.2;
  }
}

.card__data {
  margin-top: auto;
}

.card__data > * + * {
  margin-top: 0.2rem;
}

.card__data p {
  font-weight: 700;
}

.card__data span {
  font-weight: bold;
}

.card a {
  text-decoration: none;
}
